<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">

  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/new_game">Blackjack Game</a></li>
            </ul>
            <% if session[:player_name]  %>
              <ul class="info">
                <% if session[:bet_money] != '' && !@error && !@success && !@tie%>
                <li>Bet: <span>$<%= session[:bet_money] %></span></li>
                <% end %>
                <li>Total: <span>$<%= session[:total_money] %></span></li>
              </ul>
            <% end %>
        </div>
      </div>
    </div>

  <div class="container">


      <%= yield %>
  </div>


  </body>
  <script src="/jquery.min.1.9.1.js"></script>
  <script src="/application.js"></script>
</html>
