

h2 {
  color: navy;
}

#card {
  margin-right: 10px;
}

.nav>li>a {
  padding: 10px 0 !important;
}

#playagain .btn{
  margin-right: 5px;
  margin-top: -3px;
}

div.well>p {
  font-size: 1.2em;
  margin-top: 20px;
}

.alert {
	margin-right:35px;
	margin-top: 8px;
}

ul.info {
	float: right;
	margin: 0 35px 0 0;
	padding: 0;
}

ul.info li {
	text-decoration: none;
	display: inline;
	float: left;
	color: #777;
	padding: 10px 0 10px 10px;
}

ul.info>li>span {
	font-weight: bold;
	color: #399;
	font-size: 1.2em;
}

#player_area {
	position: relative;

}


.wrapper {
	width: 50%;
	float: left;
}

.wrapper h4 {
	height: 30px;
}

.wrapper p {
	color: #44c;
	font-size: 1.2em;
}

h4 {
	color: #777;
	/*border-bottom: 5px solid #895;*/
	/*padding-left: 5px;*/
	font-size: 2.3em;
}

#hit, #stay {
	display: inline;
}

img {
	margin: 3px 3px 10px 3px;
	width: 130px;
	border: 1px solid rgba(170,170,170,3);
	border-radius: 6px;	
}

.init {
	display: block;
	margin: 10% auto;
	text-align: center;
}

.init h3 {
	color: #778;
	font-size: 3.6em;
}

.init p {
	color: #785;
	padding: 20px;
	font-size: 3em;
}

.init input[type="text"] {
	width: 50%;
	height: 60px;
	font-size: 3em;
	font-family: monospace;
	color: #66f;
	text-align: center;
	margin: 30px;
}

.init input[type="submit"]{
	width: 20%;
	height: 60px;
	font-size: 3em;
}

.init a {
	margin-top: 30px;
}

.navbar-inner {
	background-color: none;
	background-image: none;
}

.scores {
	display: block;
	float: right;
	margin: -3px 37px 0 0;
	background-color: #4066ff;
	font-size: .7em;
	padding: 6px;
	color: white;
	border-radius: 4px;
}

#placeholder {
	height: 100px;
}
